admin_mail = "your@email.here"

aws_access_key = "accesskeyhere"

aws_secret_key = "secretkeyhere"

vpc_id = "yourvpcidhere"

ssh_secure_subnet = ["x.x.x.x/16", "y.y.y.y/32"]

ssh_pub_key = "ssh-rsa contentofpublickeyhere"

ssh_key = "/path/to/ssh/private/key/here"

zone_id = "yourzoneidhere"

domain = "example.com"
