[Unit]
Description=Go sum api
ConditionPathExists=/srv/goapi/main
After=network.target

[Service]
Type=simple
User=www-data
Group=www-data

Restart=on-failure
RestartSec=10

WorkingDirectory=/srv/goapi
ExecStart=/srv/goapi/main

[Install]
WantedBy=multi-user.target
