server {
	listen 80;
	server_name {{ calc_domain_name }};
	return 301 https://$server_name$request_uri;
}

server {
	listen 443 ssl;
	server_name {{ calc_domain_name }};
	
	location / {
		root /srv/frontend;
		index index.html;
	}

	ssl_certificate /etc/letsencrypt/live/{{ calc_domain_name  }}/fullchain.pem;
	ssl_certificate_key /etc/letsencrypt/live/{{ calc_domain_name }}/privkey.pem;


	location  /api/sum/ {
		rewrite ^/api/sum/ / break;
		proxy_pass http://127.0.0.1:8080;
	}

	
	location /api/diff/ {
		index main.php;
		alias /srv/phpapi/;
		location ~ \.php {
			fastcgi_pass unix:/var/run/php/php{{ calc_fpm_version }}-fpm.sock;
			fastcgi_param SCRIPT_FILENAME /srv/phpapi/main.php;
			include        fastcgi_params;
		}
	}
}
